<p id="notice"><%= notice %></p>

<h1>Branch Offices Activities</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @branch_offices_activities.each do |branch_offices_activity| %>
      <tr>
        <td><%= link_to 'Show', branch_offices_activity %></td>
        <td><%= link_to 'Edit', edit_branch_offices_activity_path(branch_offices_activity) %></td>
        <td><%= link_to 'Destroy', branch_offices_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Branch Offices Activity', new_branch_offices_activity_path %>
