
<div class="container">
  <div class="card card-container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
      <p id="profile-name" class="profile-name-card"></p>

      <div class="form-signin">
        <div class="col-md-12 form-group">
          <%= f.label "E-Mail" %><br/>
          <%= f.email_field :email, class: "form-control", placeholder: "Ingrese su correo electr칩nico", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="col-md-12 form-group">
          <%= f.label "Contrase침a" %><br />
          <%= f.password_field :password, class: "form-control", placeholder: "Ingrese su contrase침a", autocomplete: "current-password" %>
        </div>

        <div class="col-md-12 form-group">
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label "Recuerdame" %>
            </div>
          <% end %>
        </div>

        <div class="col-md-12 form-group actions">
          <%= f.submit "Iniciar sesi칩n", class: "btn btn-lg btn-primary btn-block btn-signin" %>
        </div>
      </div>
    <% end %>
  </div>
</div>