<p id="notice"><%= notice %></p>

<h1>Client Activities</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @client_activities.each do |client_activity| %>
      <tr>
        <td><%= link_to 'Show', client_activity %></td>
        <td><%= link_to 'Edit', edit_client_activity_path(client_activity) %></td>
        <td><%= link_to 'Destroy', client_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client Activity', new_client_activity_path %>
