<p id="notice"><%= notice %></p>

<h1>Catalog Client Types</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @catalog_client_types.each do |catalog_client_type| %>
      <tr>
        <td><%= link_to 'Show', catalog_client_type %></td>
        <td><%= link_to 'Edit', edit_catalog_client_type_path(catalog_client_type) %></td>
        <td><%= link_to 'Destroy', catalog_client_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Catalog Client Type', new_catalog_client_type_path %>
