
<nav class="sidebar">
  <div class="sidebar-header">
    <h3> Klugsystem </h3>
  </div>
  <ul class="list-unstyled">
    <li>
      <%= navigation_vue_item("/dashboard") do %>
          <i class="fas fa-th-large"></i>
          <span> Inicio </span>
      <% end %>
    </li>
    <li>
      <a href="#" class="list">
        <i class="fas fa-handshake">
        </i>
        <span>CRM </span>
        <span class="float-right caret right"></span>
      </a>
      <ul class="list-unstyled dropdown">
        <li>
          <%= navigation_vue_item("/crm/clients") do %>
            <i class="fas fa-user-friends"></i>
            <span> Clientes </span>
          <% end %>
        </li>
        <li>
          <%= navigation_vue_item("/crm/contacts") do %>
            <i class="fas fa-address-book"></i>
            <span> Contactos </span>
          <% end %>
        </li>
        <li>
          <%= navigation_vue_item("/crm/events") do %>
            <i class="fas fa-calendar-alt"></i>
            <span> Eventos </span>
          <% end %>
        </li>
        <li>
          <a href="#" class="list">
            <i class="fas fa-cog"></i>
            </i>
            <span> Ajustes </span>
            <span class="float-right caret right"></span>
          </a>
          <ul class="hidden-list list-unstyled dropdown">
            <li>
              <%= navigation_vue_item("/catalog/client_types") do %>
                <i class="fas fa-briefcase"></i>
                <span> Tipos de clientes </span>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li>
      <a href="#" class="list">
        <i class="fas fa-store">
        </i>
        <span>Ventas & Faturación </span>
        <span class="float-right caret right"></span>
      </a>
      <ul class="hidden-list list-unstyled dropdown">
        <li>
          <%= navigation_vue_item("/cash_registers") do %>
            <i class="fas fa-cash-register"></i>
            <span> Listado de cajas </span>
          <% end %>
        </li>
        <li>
          <%= navigation_vue_item("/sales") do %>
            <i class="fas fa-file-invoice"></i>
            <span> Listado de ventas </span>
          <% end %>
        </li>
        <li>
          <%= navigation_vue_item("/expeditures") do %>
            <i class="fas fa-money-bill-wave"></i>
            <span> Listado de gastos </span>
          <% end %>
        </li>
      </ul>
    </li>

    <li>
      <a href="#" class="list">
        <i class="fas fa-cash-register"></i>
        <span> Punto de venta </span>
        <span class="float-right caret right"></span>
      </a>
      <ul class="list-unstyled dropdown">
      <li>
        <li>
          <%= navigation_vue_item("/profile/cash_register") do %>
            <i class="fas fa-box"></i>
            <span> Mi caja </span>
          <% end %>
        </li>
        <li>
          <%= navigation_vue_item("/sales/new") do %>
            <i class="fas fa-shopping-cart"></i>
            <span> Punto de venta </span>
          <% end %>
        </li>
      </ul>
    </li>

    <li>
      <a href="#" class="list">
        <i class="fas fa-store-alt">
        </i>
        <span>Inventario </span>
        <span class="float-right caret right"></span>
      </a>
      <ul class="list-unstyled dropdown">
        <li>
          <%= navigation_vue_item("/products") do %>
            <i class="fas fa-boxes"></i>
            <span> Productos </span>
          <% end %>
        </li>
        <li>
          <%= navigation_vue_item("/brands") do %>
            <i class="fas fa-shopping-basket"></i>
            <span> Marcas </span>
          <% end %>
        </li>
        <li>
          <%= navigation_vue_item("/departments") do %>
            <i class="fas fa-boxes"></i>
            <span> Departamentos </span>
          <% end %>
        </li>
      </ul>
    </li>
    <li>
      <a href="#" class="list">
        <i class="fas fa-tags">
        </i>
        <span>Catalogos </span>
      </a>
      <ul class="list-unstyled dropdown">
        <li>
          <%= navigation_vue_item("/catalog/client_types") do %>
            <i class="fas fa-briefcase"></i>
            <span> Tipos de clientes </span>
          <% end %>
        </li>
        <li>
          <%= navigation_vue_item("/catalog/expediture_types") do %>
            <i class="fas fa-boxes"></i>
            <span> Tipos de gastos </span>
          <% end %>
        </li>
        <li>
          <%= navigation_vue_item("/catalog/event_types") do %>
            <i class="fas fa-calendar-check"></i>
            <span> Tipos de evento </span>
          <% end %>
        </li>
        <li>
          <%= navigation_vue_item("/catalog/product_transaction_types") do %>
            <i class="fas fa-sitemap"></i>
            <span> Tipos de transacciones </span>
          <% end %>
        </li>
      </ul>
    </li>
    <li>
      <a href="#" class="list">
        <i class="fas fa-address-card">
        </i>
        <span>Recursos Humanos </span>
        <span class="float-right caret right"></span>
      </a>
      <ul class="list-unstyled dropdown">
        <li>
          <%= navigation_vue_item("/employees") do %>
            <i class="fas fa-portrait"></i>
            <span> Empleados </span>
          <% end %>
        </li>
      </ul>
    </li>
    <li>
      <%= navigation_vue_item("/books") do %>
        <i class="fas fa-book"></i>
        <span> Contabilidad </span>
        <span class="float-right caret right"></span>
      <% end %>
    </li>
    <li>
      <a href="#" class="list">
        <i class="fas fa-cogs">
        </i>
        <span> Configuración </span>
        <span class="float-right caret right"></span>
      </a>
      <ul class="list-unstyled dropdown">
        <li>
          <%= navigation_vue_item("/branch_offices") do %>
            <i class="fas fa-store-alt"></i>
            <span> Sucursales </span>
          <% end %>
        </li>
        <li>
          <%= navigation_vue_item("/payment_methods") do %>
            <i class="fas fa-money-bill-wave"></i>
            <span> Métodos de pago </span>
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
</nav>