
<nav class="sidebar">
  <div class="sidebar-header">
    <h3> Klugsystem </h3>
  </div>
  <ul class="list-unstyled">
    <li>
      <%= navigation_vue_item("/dashboard") do %>
          <i class="fa-solid fa-table-cells-large"></i>
          <span> Inicio </span>
      <% end %>
    </li>

    <li>
      <%= navigation_vue_item("/crm", ['list']) do %>
        <i class="fa-solid fa-address-book"></i>
        <span>CRM </span>
        <span class="float-right caret right"></span>
      <% end %>
      <ul class="list-unstyled dropdown">
        <li>
          <%= navigation_vue_item("/crm/clients") do %>
            <i class="fa-solid fa-user-group"></i>
            <span> Clientes </span>
          <% end %>
        </li>
        <li>
          <%= navigation_vue_item("/crm/contacts") do %>
            <i class="fa-solid fa-address-card"></i>
            <span> Contactos </span>
          <% end %>
        </li>
        <li>
          <%= navigation_vue_item("/crm/events") do %>
            <i class="fa-solid fa-calendar-days"></i>
            <span> Eventos </span>
          <% end %>
        </li>
        <li>
          <a href="#" class="list">
            <i class="fas fa-cog"></i>
            </i>
            <span> Ajustes </span>
            <span class="float-right caret right"></span>
          </a>
          <ul class="hidden-list list-unstyled dropdown">
            <li>
              <%= navigation_vue_item("/catalog/client_types") do %>
                <i class="fas fa-briefcase"></i>
                <span> Tipos de clientes </span>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </li>

    <li>
      <%= navigation_vue_item("/finance", ['list']) do %>
        <i class="fa-solid fa-hand-holding-dollar"></i>
        <span> Finanzas </span>
        <span class="float-right caret right"></span>
      <% end %>
      <ul class="hidden-list list-unstyled dropdown">
        <li>
          <%= navigation_vue_item("/finance/sales") do %>
            <i class="fa-solid fa-file-invoice-dollar"></i>
            <span> Ventas </span>
          <% end %>
        </li>
        <li>
          <%= navigation_vue_item("/finance/quotations") do %>
            <i class="fas fa-file-invoice"></i>
            <span> Cotizaciones </span>
          <% end %>
        </li>
        <li>
          <%= navigation_vue_item("/finance/expeditures") do %>
            <i class="fas fa-money-bill-wave"></i>
            <span> Gastos </span>
          <% end %>
        </li>
      </ul>
    </li>

    <li>
      <%= navigation_vue_item("/pos", ['list']) do %>
        <i class="fas fa-cash-register"></i>
        <span> Punto de venta </span>
        <span class="float-right caret right"></span>
      <% end %>
      <li>
        <ul>
          <%= navigation_vue_item("/cash_registers") do %>
            <i class="fas fa-cash-register"></i>
            <span> Listado de cajas </span>
          <% end %>
        </li>
        <li>
          <%= navigation_vue_item("/profile/cash_register") do %>
            <i class="fas fa-box"></i>
            <span> Mi caja </span>
          <% end %>
        </li>
        <li>
          <%= navigation_vue_item("/sales/new") do %>
            <i class="fas fa-shopping-cart"></i>
            <span> Punto de venta </span>
          <% end %>
        </li>
      </ul>
    </li>

    <li>
      <%= navigation_vue_item("/inventory", ['list']) do %>
        <i class="fa-solid fa-shop"></i>
        <span>Inventario </span>
        <span class="float-right caret right"></span>
      <% end %>
      <ul class="list-unstyled dropdown">
        <li>
          <%= navigation_vue_item("/inventory/products") do %>
            <i class="fa-solid fa-cart-flatbed"></i>
            <span> Productos </span>
          <% end %>
        </li>
        <li>
          <%= navigation_vue_item("/inventory/brands") do %>
            <i class="fa-solid fa-tags"></i>
            <span> Marcas </span>
          <% end %>
        </li>
        <li>
          <%= navigation_vue_item("/inventory/departments") do %>
            <i class="fa-solid fa-boxes-stacked"></i>
            <span> Departamentos </span>
          <% end %>
        </li>
      </ul>
    </li>

    <li>
      <a href="#" class="list">
        <i class="fas fa-tags">
        </i>
        <span>Catalogos </span>
      </a>
      <ul class="list-unstyled dropdown">
        <li>
          <%= navigation_vue_item("/catalog/client_types") do %>
            <i class="fas fa-briefcase"></i>
            <span> Tipos de clientes </span>
          <% end %>
        </li>
        <li>
          <%= navigation_vue_item("/catalog/expediture_types") do %>
            <i class="fas fa-boxes"></i>
            <span> Tipos de gastos </span>
          <% end %>
        </li>
        <li>
          <%= navigation_vue_item("/catalog/event_types") do %>
            <i class="fas fa-calendar-check"></i>
            <span> Tipos de evento </span>
          <% end %>
        </li>
        <li>
          <%= navigation_vue_item("/catalog/product_transaction_types") do %>
            <i class="fas fa-sitemap"></i>
            <span> Tipos de transacciones </span>
          <% end %>
        </li>
      </ul>
    </li>
    <li>
      <%= navigation_vue_item("/hr", ['list']) do %>
        <i class="fa-solid fa-address-card"></i>
        </i>
        <span>Recursos Humanos </span>
        <span class="float-right caret right"></span>
      <% end %>
      <ul class="list-unstyled dropdown">
        <li>
          <%= navigation_vue_item("/hr/employees") do %>
            <i class="fa-solid fa-image-portrait"></i>
            <span> Empleados </span>
          <% end %>
        </li>
      </ul>
    </li>


    <li>
      <%= navigation_vue_item("/books") do %>
        <i class="fas fa-book"></i>
        <span> Contabilidad </span>
      <% end %>
    </li>

    <li>
      <%= navigation_vue_item("/administration", ['list']) do %>
        <i class="fa-solid fa-gears"></i>
        <span> Configuración </span>
        <span class="float-right caret right"></span>
      <% end %>
      <ul class="list-unstyled dropdown">
        <li>
          <%= navigation_vue_item("/administration/users") do %>
            <i class="fa-solid fa-users"></i>
            <span> Usuarios </span>
          <% end %>
        </li>
        <li>
          <%= navigation_vue_item("/administration/roles") do %>
            <i class="fa-solid fa-user-shield"></i>
            <span> Roles </span>
          <% end %>
        </li>
        <li>
          <%= navigation_vue_item("/administration/branch_offices") do %>
            <i class="fa-solid fa-warehouse"></i>
            <span> Sucursales </span>
          <% end %>
        </li>
        <li>
          <%= navigation_vue_item("/administration/payment_methods") do %>
            <i class="fa-solid fa-money-bill-wave"></i>
            <span> Métodos de pago </span>
          <% end %>
        </li>
        <li>
          <%= navigation_vue_item("/administration/digifact") do %>
            <i class="fa-solid fa-receipt"></i>
            <span> Digifact </span>
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
</nav>