<div class="pdf-container">
  <div class="pdf-row pdf-details-section">
    <div class="pdf-col">
      <b> Datos generales </b> <br>
      <b> Fecha: </b> <%= @sale.sale_date %> <br>
      <b> Tipo de venta: </b> <%= @sale.sale_type %> <br>
      <b> Método de pago: </b> <%= @sale.payment_method.name %> <br>
    </div>

    <div class="pdf-col-end">
      <b> Datos de clientes </b> <br>
      <b> Nit: </b> <%= @sale.client.billing_identifier %> <br>
      <b> Nombre: </b> <%= @sale.client.billing_name %> <br>
      <b> Dirección: </b> <%= @sale.client.billing_address %> <br>
      <b> E-Mail: </b> <%= @sale.client.billing_email %> <br>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Artículo</th>
        <th scope="col">Precio</th>
        <th scope="col">Descuento (Q.)</th>
        <th scope="col">Cantidad</th>
        <th scope="col has-text-right">Total</th>
      </tr>
    </thead>
    <tbody>
      <% @sale.details.each_with_index do |sale_detail, index| %>
        <tr>
          <th scope="row"> <%= (index + 1 ) %> </th>
          <td> <%= sale_detail.name %> </td>
          <td> <%= sale_detail.price %> </td>
          <td> <%= sale_detail.discount_value %> </td>
          <td> <%= sale_detail.quantity %> </td>
          <td> <%= sale_detail.subtotal %> </td>
        </tr>
      <% end %>
      <tr></tr>
      <tr></tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td> <b> Subtotal </b> </td>
        <td> <%= @sale.subtotal %> </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td> <b> Descuento </b> </td>
        <td> <%= @sale.discount %> </td>
      </tr>
    </tbody>
  </table>