

<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>Klugsystem</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if current_user %>
      <%= render 'layouts/partials/cors' %>
      <%= render 'layouts/partials/data' %>

     <div id="app" class="wrapper">

        <!-- Side Bar Navigation -->
        <%= render 'layouts/partials/sidebar_navigation' %>

        <!-- Page Content -->
        <div id="content">
          <%= render 'layouts/partials/top_navigation' %>
          <%= render 'layouts/partials/content' %>
        </div>

        <!-- Page Footer -->
        <%#= render 'layouts/partials/footer' %>

        <%= render 'layouts/partials/js_loader' %>
      </div>
    <% else %>
      <%= render 'layouts/partials/public_data' %>
      <div id="app" class="wrapper">
        <!-- Page Content -->
        <div id="content">
            <%= render 'layouts/partials/content' %>
        </div>
      </div>

      <%= render 'layouts/partials/js_public_loader' %>
    <% end %>
    <%= yield %>
  </body>
</html>
<%= javascript_include_tag 'sidebar' if current_user.present? %>