

<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>Klugsystem</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div class="wrapper">
      <% if current_user %>
        <!-- Side Bar Navigation -->
        <%= render 'layouts/partials/sidebar_navigation' %>

        <!-- Page Content -->
        <div id="content">
          <%= render 'layouts/partials/top_navigation' %>
          <%= render 'layouts/partials/content' %>
          <%= render 'layouts/partials/cors' %>
        </div>

        <!-- Page Footer -->
        <%= render 'layouts/partials/footer' %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>

<%= render 'layouts/partials/loaders' %>
<%= javascript_include_tag 'sidebar' %>